{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="center-default">{{ content.title }}</h1>
        <p class="paragraph">{{ content.article|raw }}</p>
    </div>
{% endblock %}
