{% extends 'base.html.twig' %}
{% block form %}
<div class="form-block__content">

{% if content.form %}
        {% if app.request.get('send') != 'true' %}
            {# FORM THEME #}
            {% form_theme content.form 'form/theme.html.twig' %}
            {{ form(content.form) }}
        {% else %}
            {{ view.form.entity.successText|raw }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
