{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('map', null, 'css') }}
{% endblock %}

{% block title %}Kontakt - pokojebeata.pl{% endblock %}

{% block content %}
    <div class="res-page-header">
        <h1 class="center-default co-white">Kontakt</h1>
    </div>
    <div class="row form-block__content">
        <div class="contact-container-wrapper">
            <div class="col-sm-6 contact-container contact-left">
                <h2 class="h4">Adres:</h2>
                <p>Pokoje Beata</p>
                <p>ul. Słotwińska 41A</p>
                <p>33-380 Krynica-Zdrój</p>
                <h2 class="h4">Dane kontaktowe:</h2>
                <p>
                    <svg width="16" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg><a href="tel:+48 18 534 92 76">18 534 92 76</a>
                </p>
                <p>
                    <svg width="16" height="1em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                        <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg><a href="tel:+48 661 159 412">661 159 412</a></p>
                <p>
                    <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg><a href="mailto:hello@pokojebeata.pl">hello@pokojebeata.pl</a>
                </p>
                <p>
                    <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg><a href="mailto:wikabs@gmail.com">wikabs@gmail.com</a>
                </p>
            </div>
            <div class="col-sm-6 contact-container contact-right">
                <div class="">
                    {% if content.form %}
                    {% if app.request.get('send') != 'true' %}
                        {# FORM THEME #}
                        {% form_theme content.form 'form/theme.html.twig' %}
                        {{ form(content.form) }}
                    {% else %}
                        {{ view.form.entity.successText|raw }}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <iframe
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?&q=49.435073, 20.939629&zoom=18"
            allowfullscreen>
    </iframe>
{% endblock %}
