{% extends "base.html.twig" %}

{% block content %}
{#    <h1>{{ content.title }}</h1>#}

{#    {{ content.article|raw }}#}

    {% block slider %}
        {% include "./slider.html.twig" %}
    {% endblock %}

    <div class="wrap">
        {% block reservation %}
            {% include "./homepage/reservation.html.twig" %}
        {% endblock %}

        {% block grids %}
            {% include "./homepage/grids.html.twig" %}
        {% endblock %}
    </div>

{% endblock %}
