<div class="modal" id="availability-modal">
    <div class="modal-dialog">
        <header class="modal-header">
            The {{ roomName }} is available. Now you can book a room clicking on a button below:
            <button class="close-modal" aria-label="close modal" data-close-availability>✕</button>
        </header>
    </div>
</div>
