<div class="modal" id="availability-modal" style="visibility: hidden;">
    <div class="modal-dialog">
        <header class="modal-header">
            {{ roomName }} jest dostępny. Możesz zarezerwować ten pokój w wybranym terminie.
            <button class="close-modal" aria-label="close modal" data-close-availability>✕</button>
        </header>
        <div>
            <button type="button" id="reservation_submit" name="reservation[submit]"
                    class="open-modal btn btn-primary btn-block" data-open="reservation-modal">Zarezerwuj
            </button>
        </div>
    </div>
</div>
