{% extends 'base.html.twig' %}

{% block title %}Potwierdzenie - pokojebeata.pl{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center-default">Dziękujemy</h1>
        <p class="paragraph">Zapytanie o rezerwację zostało wysłane. Zapoznaj się z instrukcjami które wysłaliśmy na
            podany przez Ciebie adres e-mail.</p>
    </div>
{% endblock %}
