<div class="modal" id="datepicker-error">
    <div class="modal-dialog">
        <header class="modal-header">
            Błąd formularza
            <button class="close-modal" aria-label="close modal" data-close-datepicker-error>✕</button>
        </header>
        <div class="modal-body">
            Data wymeldowania jest wcześniejsza niż zameldowania. Proszę poprawić datę.
        </div>
    </div>
</div>
