<div class="modal" id="empty-form-modal" style="visibility: hidden;">
    <div class="modal-dialog">
        <header class="modal-header">
            Błąd formularza
            <button class="close-modal" aria-label="close modal" data-close-empty-form>✕</button>
        </header>
        <div class="modal-body">
            Proszę uzupełnić datę zameldowania i wymeldowania.
        </div>
    </div>
</div>
