{% extends 'base.html.twig' %}

{% block styles %}
    {{ encore_entry_link_tags('card', null, 'css') }}
{% endblock %}

{% block title %}Room index{% endblock %}

{% block body %}
<h1>Book a room</h1>

    {% if rooms is defined %}
        {% for room in rooms %}

            <div class="card">
                <div class="card-container">
                    <div class="imag"></div>
                    <div class="text-card-container">
                        <span></span>
                        <h2>{{ room.name }}</h2>
                        <p>Get the lastest and trending web development project's source code, first see preview if you need
                            then get the code. {{ room.maxGuests }}
                        </p>
                        <a href="{{ path('room_show_dates', {id: room.id, checkIn: checkIn, checkOut: checkOut, guests: guests}) }}" target="_blank">Zobacz pokój</a>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}
