{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
<h1>Book a room</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>MaxGuests</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% if rooms is defined %}
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.maxGuests }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id, checkIn: checkIn, checkOut: checkOut}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
{% endblock %}
