<div class="modal" id="min-stay-modal">
    <div class="modal-dialog">
        <header class="modal-header">
            Błąd formularza
            <button class="close-modal" aria-label="close modal" data-close-min-stay-modal>✕</button>
        </header>
        <div class="modal-body">
            Pobyt nie może być krótszy niż 2 dni.
        </div>
    </div>
</div>
