<div class="modal" id="reservation-modal" style="visibility: hidden;">
    <div class="modal-dialog">
        <header class="modal-header">
            Wyślij zapytanie o rezerwację
            <button class="close-modal" aria-label="close modal" data-close>✕</button>
        </header>
        {{ include('event/_form.html.twig') }}
    </div>
</div>
