<div class="modal" id="policy-modal">
    <div class="modal-dialog">
        <header class="modal-header">
            Regulamin rezerwacji oraz wynajmu pokoi - pokojebeata.pl
            <button class="close-modal" aria-label="close modal" data-close-policy>✕</button>
        </header>
        <div class="modal-body">
            <p>
                1. Zasady ogólne
            </p>
            <p>
                Regulamin określa warunki zgodnie, z którymi klient może dokonać rezerwacji oraz zasady, których
                zobowiązuje się przestrzegać na terenie obiektu.
                Dokonanie rezerwacji stanowi akceptację regulaminu.
                Klient dokonujący rezerwacji musi być pełnoletni.
            </p>
            <p>
                2. Rezerwacja
            </p>
            <p>
                Rezerwacji pokoi gościnnych można dokonać:
                - wysyłając zapytanie o dostępność pokoju za pośrednictwem strony internetowej pokojebeata.pl i czekając
                na otrzymanie potwierdzenia drogą mailową lub telefoniczną,
                - telefonicznie pod numerem: +48 661 159 412
                - za pośrednictwem portali, na których zamieszczona jest oferta wynajmu pokoi gościnnych ,,Beata”.
                Rezygnacji z rezerwacji można dokonać wyłącznie telefonicznie, pod numerem: +48 661 159 412
                W przypadku rezygnacji z rezerwacji przez klienta traci on wpłacony na konto bankowe zadatek w wysokości
                30% należnej kwoty za cały pobyt.
            </p>
            <p>
                3. Płatność
            </p>
            <p>
                Klient może zapłacić całą kwotę należną za pobyt przelewem na konto bankowe lub wpłacić na konto zadatek
                w wysokości 30% ceny całego pobytu lub określonej indywidualnie przez personel, a pozostałą należność
                uiścić w dniu przyjazdu do rąk własnych właściciela obiektu lub upoważnionych przez niego osób.
                Przelewu należy dokonać przed przyjazdem w wyznaczonym terminie.
                Brak dokonania przelewu w wyznaczonym terminie jest równoznaczny z anulowaniem rezerwacji.
                Od każdego wynajmującego gościa pobierana jest opłata klimatyczna w wysokości ustalonej przez Radę
                Miasta Krynica Zdrój.
                Na terenie obiektu pokoi gościnnych ,,Beata” nie ma możliwości płacenia kartą.<br/><br/>

                Dane do przelewu:
                <p>
                    Beata Wilas<br/>
                    ul. Słotwińska 41A<br/>
                    33-380 Krynica-Zdrój<br/><br/>
                    BNP Paribas<br/>
                </p>
            </p>
            <p>
                4. Zameldowanie i wymeldowanie
            </p>
            <p>
                Pokoje gościnne "Beata" wynajmowane są na doby.
                Doba zaczyna się o godzinie 14:00, a kończy o godzinie 12:00.
                Wymeldowanie z pokoi gościnnych "Beata" po godzinie 12:00 bez wcześniejszego ustalenia z personelem
                zobowiązuje klienta do uiszczenia opłaty za dodatkową dobę.
            </p>
            <p>
                5. Ogólne warunki obowiązujące na terenie obiektu pokoi gościnnych "Beata"
            </p>
            <p>
                Klient zobowiązany jest do utrzymania pokoju gościnnego w stanie, jaki zastał w dniu zameldowania.
                Klient ponosi odpowiedzialność za wyrządzone przez siebie szkody w pokoju gościnnym, jak i na terenie
                całego obiektu i zobowiązany jest do zapłaty za nie odszkodowania najpóźniej w dniu wymeldowania.
            </p>
            <p>
                Klient ponosi całkowitą odpowiedzialność za postawiony przez siebie pojazd na parkingu znajdującym się
                na terenie obiektu.
            </p>
            <p>
                Klient zobowiązany jest do zachowania ciszy nocnej w godzinach od 22:00 do 06:00.
            </p>
            <p>
                Klient ponosi odpowiedzialność za zostawione przez siebie rzeczy w pokoju gościnnym i zobowiązany jest
                do zamknięcia pokoju na klucz podczas każdorazowego jego opuszczenia.
            </p>
            <p>
                Przedmioty pozostawione przez klienta po jego wymeldowaniu będą przetrzymywane przez okres 10 dni.
                Istnieje możliwość wysłania ich pod wskazany przez klienta adres na jego koszt. Jeżeli po upływie 10 dni
                klient nie zgłosi się po zostawione w pokoju gościnnym swoje przedmioty zostaną one usunięte i nie
                będzie możliwe ich odzyskanie.
            </p>
            <p>
                W pokojach gościnnych oraz wszelkich ogólnodostępnych, zamkniętych pomieszczeniach istnieje całkowity
                zakaz palenia papierosów. Palenie dozwolone jest wyłącznie w miejscach do tego przeznaczonych.
            </p>
            <p>
                W przypadku uszkodzenia przez klienta kluczy do pokoi gościnnych lub pilota do bramy, klient zobowiązany
                jest do pokrycia kosztów finansowych związanych z dorobieniem kluczy lub/i pilota do bramy.
            </p>
            <p>
                Zwierzęta są mile widziane w obiekcie "Beata". Klient zobowiązany jest do poinformowania personelu
                telefonicznie, pod numerem: o zamiarze przyjazdu z pupilem oraz posiadania książeczki zdrowia z
                aktualnymi szczepieniami podczas pobytu. Pobyt zwierząt jest bezpłatny. Klient zobowiązany jest pokrycia
                kosztów finansowych za ewentualne szkody wyrządzone przez swoje zwierzęta.
            </p>
            <p>
                W przypadku wystąpienia nieprzewidzianych okoliczności, które skutkują brakiem możliwości udostępnienia
                zarezerwowanego przez klienta pokoju gościnnego, personel zobowiązuje się do zapewnienia innego pokoju w
                takim samym standardzie. Jeżeli występuje brak wolnych pokoi personel może anulować rezerwację i
                zobowiązuje się do natychmiastowego zwrócenia klientowi wpłaconych na konto środków pieniężnych.
            </p>
            <p>
                W przypadku wystąpienia nieprzewidzianych sytuacji, niezależnych od personelu i braku możliwości ich
                natychmiastowego usunięcia np. awaria prądu mogą się pojawić niedogodności podczas pobytu, za które nie
                przysługuje rekompensata na rzecz klienta ze strony personelu.
            </p>
            <p>
                Na terenie obiektu przestrzegane są zasady ostrożności w związku z wirusem Covid – 19. Udostępniony jest
                dla wszystkich gości płyn do dezynfekcji i podstawowe środki higieniczne.
            </p>
        </div>
    </div>
</div>
