<div class="modal" id="room-not-available-modal">
    <div class="modal-dialog">
        <header class="modal-header">
            {{ roomName }} nie jest dostępny w podanym terminie. Proszę sprawdzić inną datę lub wybrać inny pokój.
            <button class="close-modal" aria-label="close modal" data-close-not-available>✕</button>
        </header>
    </div>
</div>
