<div class="modal" id="room-not-available-modal">
    <div class="modal-dialog">
        <header class="modal-header">
            The {{ roomName }} is not available in specified term. Please check on another date or choose from all rooms on the home page.
            <button class="close-modal" aria-label="close modal" data-close-not-available>✕</button>
        </header>
    </div>
</div>
