<div class="grids_of_3">
    <div class="grid1_of_3">
        <div class="grid1_of_3_img">
            <a href="details.html">
                {% if content.images is not empty %}
                    {% set source = content.images[0].formats['sulu-260x'] %}
                    <img src="{{ asset(source) }}" alt="">
                {% endif %}
            </a>
        </div>
        <h4><a href="#">single room<span>120$</span></a></h4>
        {{ content.grid_1|raw }}
    </div>
    <div class="grid1_of_3">
        <div class="grid1_of_3_img">
            <a href="details.html">
                <img src="{{ asset('web/images/pic2.jpg') }}" alt="">
            </a>
        </div>
        <h4><a href="#">double room<span>180$</span></a></h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="grid1_of_3">
        <div class="grid1_of_3_img">
            <a href="details.html">
                <img src="{{ asset('web/images/pic3.jpg') }}" alt="">
            </a>
        </div>
        <h4><a href="#">suite room<span>210$</span></a></h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="clear"></div>
</div>
