<div class="online_reservation">
    <div class="b_room">
        <div class="booking_room">
            <h4>book a room online</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
        <div class="reservation">
            <ul>
                <li class="span1_of_1">
                    <h5>type of room:</h5>
                    <!----------start section_room----------->
                    <div class="section_room">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">Select a type of room</option>
                            <option value="null">Suite room</option>
                            <option value="AX">Single room</option>
                            <option value="AX">Double room</option>
                        </select>
                    </div>
                </li>
                <li class="span1_of_1 left">
                    <h5>check-in-date:</h5>
                    <div class="book_date">
                        <form>
                            <input class="date" id="datepicker" type="text" value="DD/MM/YY" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'DD/MM/YY';}" style="width: 148px;">
                        </form>

                    </div>
                </li>
                <li class="span1_of_1 left">
                    <h5>check-out-date:</h5>
                    <div class="book_date">
                        <form>
                            <input class="date" id="datepicker1" type="text" value="DD/MM/YY" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = 'DD/MM/YY';}" style="width: 148px;">
                        </form>
                    </div>
                </li>
                <li class="span1_of_2 left">
                    <h5>Adults:</h5>
                    <!----------start section_room----------->
                    <div class="section_room">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required">
                            <option value="null">1</option>
                            <option value="null">2</option>
                            <option value="AX">3</option>
                            <option value="AX">4</option>
                        </select>
                    </div>
                </li>
                <li class="span1_of_3">
                    <div class="date_btn">
                        <form>
                            <input type="submit" value="book now" style="width: 127px;">
                        </form>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

