/*New footer*/
.main-footer {
    width: 100%;
    background: #f0f0f0;
    color: #6d6d6d
}

.main-footer a {
    color: #6d6d6d
}

.main-footer-content {
    padding: 32px;
    text-align: center
}

.main-footer-content:before,.main-footer-content:after {
    content: "";
    display: table
}

.main-footer-content:after {
    clear: both
}

@media(min-width: 768px) {
    .main-footer-content {
        padding:48px
    }
}

@media(min-width: 960px) {
    .main-footer-content {
        padding: 40px 40px;
        max-width: 960px;
        margin: 0 auto
    }
}

.main-footer-content>hr {
    margin: 35px 0 25px 0;
    border-color: silver
}

.main-footer-contact {
    display: contents;
    margin-left: 0
}

.main-footer-contact>li {
    list-style: none;
    margin: 0;
    vertical-align: top
}

@media(min-width: 768px) {
    .main-footer-contact>li {
        display:inline-block;
        padding: 0 8px
    }

    .main-footer-contact>li:first-child {
        display: block
    }
}

@media(min-width: 960px) {
    .main-footer-contact>li:first-child {
        display:inline-block
    }
}

.main-footer-contact>li p {
    margin: 0
}

.main-footer-links>p {
    color: #6d6d6d;
    font-size: 13px
}

.main-footer-links ul {
    padding: 0;
    margin: 0 0 16px 0;
    overflow: hidden
}

@media(min-width: 640px) {
    .main-footer-links ul {
        padding:0 30px
    }
}

@media(min-width: 768px) {
    .main-footer-links ul {
        margin-bottom:0;
        text-align: center
    }
}

.main-footer-links ul>li {
    text-align-last: center;
    float: left;
    width: 50%;
    padding-right: 10px;
    list-style: none;
    text-align: left
}

@media(min-width: 768px) {
    .main-footer-links ul>li {
        float:none;
        display: inline-block;
        width: auto;
        padding: 0 5px 0 7px
    }
}

.main-footer-links ul>li:nth-child(2n) {
    width: 50%
}

@media(min-width: 768px) {
    .main-footer-links ul>li:nth-child(2n) {
        width:auto
    }
}

.main-footer-links ul.primary>li {
    margin-bottom: 20px;
    font-family: "Quattrocento",serif;
    text-transform: uppercase;
    vertical-align: top
}

@media(min-width: 768px) {
    .main-footer-links ul.primary>li {
        margin-bottom:0;
        border-left: solid 1px #6d6d6d
    }
}

@media(min-width: 768px) {
    .main-footer-links ul.primary>li:first-child {
        border:none
    }
}

@media(min-width: 768px) {
    .main-footer-links ul.primary>li a {
        white-space:nowrap
    }
}

.main-footer-links ul.secondary>li {
    margin-bottom: 0;
    font-size: 13px
}

.main-footer-links a:hover {
    text-decoration: underline
}

.main-footer-contact li a:hover {
    text-decoration: underline;
}

.main-footer-contact svg {
     margin: 0 5px 0 0;
}
/*New footer*/

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-padding {
    padding: 0;
}

.breadcrumb {
    border-bottom: 1px solid rgba(68,68,68,0.1);
}

.mt-1 {
    margin-top: 10px;
}

.position-absolute {
    position: absolute;
}

.taxonomy {
    border-right: 1px solid #26262614;
}

.sidebar {
    border-left: 1px solid #26262614;
}

.sidebar h3 {
    color: rgba(0,0,0,.6);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.latest-article {
    border-top: 1px solid #26262614;
    padding: 15px 0 0 0;
}

.sidebar h4 {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.res-blog .blog-text h4 a {
    color: rgba(0,0,0,.6);
}

.sidebar-desc .res-tours .desc{
    bottom: 10%;
}

.article-desc {
    top: 50%;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    z-index: 2;
}

.article-desc p{
    color: #fff
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.theme-orange {
    color: #d4974b;
}

.homepage-content p {
    font-size: 14px;
}
.homepage-content ul {
    margin-left: 20px;
}
.homepage-content ul > li {
    font-size: 14px;
}
.homepage-content .heading-section h3 {
    font-size: 24px;
}

.homepage-content h3 {
    padding-bottom: 0;
}

.home {
    padding: 1em 0 0 0;
}

.co-white {
    color: white;
}

.bg-white {
    background: white;
}

.res-page-header {
    padding: 10px;
    background: linear-gradient(to right,rgba(28,119,255,.5) 0%,rgba(255,150,0,.5) 100%);
}

.center-default {
    text-align-last: center;
    margin-top: 1em;
    margin-bottom: 30px;
}

.paragraph {
    margin: 0 0 40px;
}

/* Most popular cards */
.res-tours>div img {
    max-height: 330px;
}

/* Home logo */
.img-logo {
    float: left;
    display: block;
    max-width: 100%;
    height: none;
}
.img-logo-footer {
    display: block;
    max-width: 100%;
    float: right;
    margin-right: 15px;
}
.footer-links-row {
    display: flex;
    padding: 25px 0;
}
.res-footer-link{
    position: relative;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

.form-group div {
    display: inline-block;
}

div .form-check-input {
    float: left;
    margin-right: 5px;
}

.form-check-label button {
    color: #368bdb;
    text-decoration: underline;
}

.btn.btn-primary {
    border-radius: 5px;
}

.plr-3 {
    padding: 0 30px;
}

.pt-1 {
    padding-top: 10px;
}

.justify {
    text-align: justify;
}

.res-tours > div .desc span {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
}

.choice-input {
    background-color: #f1eeeb;
    color: #4a96de;
    padding: 5px 10px;
    font-size: 13px;
    border: transparent;
    font-weight: bold;
}

.custom-class {
    visibility: hidden;
    fill: black;
    stroke-width: 2;
}

input, textarea, button {
    outline: none;
    border: none;
}

.form-block__content {
    padding: 40px 115px;
    position: relative;
    background: #f2f2f2;
}

.grid__item {
    float: left;
    padding: 10px 20px 10px;
    position: relative;
    background-color: transparent;
    margin-bottom: 25px;
}

.grid__item input, textarea {
    padding: 10px 20px;
    display: block;
    width: 100%;
    background: #f2f2f2;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

.grid__item > button {
    color: white;
    padding: 10px 20px;
    display: block;
    background: #368bdb;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    width: inherit;
}

.form__label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    line-height: 1.5;
}

form {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

form.form {
    max-width: 960px;
    display: grid;
}

.grid {
    box-sizing: border-box;
}

.text-article {
    background: white;
    padding: 30px;
    margin-bottom: 50px;
}

.text-header-article {
    padding: 15px;
    background: linear-gradient(to right,rgba(28,119,255,.5) 0%,#333333a6 100%);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.icon {
    vertical-align: middle;
}
.input-field .icon {
    opacity: 0.6;
    right: 1rem;
    padding: 10px;
    color: black;
    position: absolute;
}

input[type="text"] {
    display: inline;
}

.input-field .icon-guests {
    right: unset;
}

.input-field select{
    min-width: -webkit-fill-available;
    min-height: 44px;
    padding-left: 65px;
}

.feature-copy span {
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}

.res-cover .desc .desc2-homepage {
    top: -70%;
    position: absolute;
    max-width: 450px;
}

@media screen and (max-width: 768px) {
    .res-cover .desc .desc2 {
        top: 40%;
        position: absolute;
        padding-right: 20px;
    }

    .res-cover .desc .desc2-homepage {
        top: -150%;
        position: absolute;
    }

    .desc2-homepage h1 {
        font-size: 32px;
    }

    .res-cover .desc {
        padding-left: 15px;
        padding-right: 15px;
        top: 80%;
    }

    .res-cover .desc .price {
        font-size: 40px;
        font-weight: 600;
    }

    .res-cover .desc p {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: 1px;
        color: rgba(255,255,255,.7);
    }

    .text-header, .text-header-article {
        max-width: 500px;
        padding-top: 20px;
    }

    .tabulation {
        width: 100%;
        float: left;
    }

    .text-header-article h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .res-cover .desc .desc2-homepage {
        top: -160%;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .res-form {
        position: relative;
        float: right;
    }

    .grid {
        display: inline-grid;
    }

    .width-6 {
        width: 100%;
    }

    .text-header {
        left: 0;
    }

    .text-header, .text-header-article {
        max-width: 500px;
    }

    h1 {
        margin: 10px 0 5px 0;
    }

    .res-section-gray {
        padding: 0;
    }
}

.btn {
    letter-spacing: 0;
    text-transform: none;
    font-weight: 700;
}

@media (max-width: 991px) and (min-width: 768px) {
    .col-xs-6 {
         width: 100%;
    }
    .taxonomy {
        border-right: 0;
    }
    .sidebar {
        border-left: 0;
    }
}

@media (min-width: 768px) {
    .res-form {
        float: right;
    }

    .text-header {
        left: 0;
    }
}

/* Smartphones ----------- */
@media only screen and (max-width: 768px) {
    .icon-calendar {
        display: none;
    }
    .col-xs-6 {
        width: 100%;
    }
    .display-table-sm {
        display: table;
    }
    .taxonomy {
        border-right: 0;
    }
    .sidebar {
        border-left: 0;
    }
}
