.res-tours > div .desc span {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
}

.choice-input {
    background-color: #f1eeeb;
    color: #4a96de;
    padding: 5px 10px;
    font-size: 13px;
    border: transparent;
    font-weight: bold;
}

.custom-class {
    visibility: hidden;
    fill: black;
    stroke-width: 2;
}

.width-1 {
    width: 8.33333%
}

.width-2 {
    width: 16.66667%
}

.width-3 {
    width: 25%
}

.width-4 {
    width: 33.33333%
}

.width-5 {
    width: 41.66667%
}

.width-6 {
    width: 50%
}

.width-7 {
    width: 58.33333%
}

.width-8 {
    width: 66.66667%
}

.width-9 {
    width: 75%
}

.width-10 {
    width: 83.33333%
}

.width-11 {
    width: 91.66667%
}

.width-12 {
    width: 100%
}

input, textarea, button {
    outline: none;
    border: none;
}

.form-block__content {
    padding: 60px 115px;
    position: relative;
    background: #f2f2f2;
}

.grid__item {
    float: left;
    padding: 10px 20px 10px;
    position: relative;
    background-color: transparent;
    margin-bottom: 25px;
}

.grid__item input, textarea {
    padding: 10px 20px;
    display: block;
    width: 100%;
    background: #f2f2f2;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.2;
}

.grid__item > button {
    color: white;
    padding: 10px 20px;
    display: block;
    background: #368bdb;
    border-radius: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    width: inherit;
}

.form__label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    line-height: 1.5;
}

form {
    background: white;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

form.form {
    max-width: 960px;
    display: grid;
}

.grid {
    box-sizing: border-box;
}

.text-article {
    background: white;
    padding: 30px;
    margin-bottom: 50px;
}

.text-header-article {
    padding: 15px;
    background: linear-gradient(to right,rgba(28,119,255,.5) 0%,#333333a6 100%);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

@media (max-width: 768px) {
    .res-form {
        float: right;
    }

    .grid {
        display: inline-grid;
    }

    .width-6 {
        width: 100%;
    }

    .form-block__content {
        padding: 60px 10px;
    }

    .text-header {
        left: 0;
    }
}

@media (min-width: 768px) {
    .res-form {
        float: right;
    }

    .text-header {
        left: 0;
    }
}
