div.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.04);
}
div.card-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
imag {
    width: 100%;
}
.text-card-container h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 15px;
}
.text-card-container p {
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.text-card-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: #368BDB;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px;
    left: -5px;
}
.text-card-container a:hover {
    color: #368BDB;
    text-decoration: underline;
}
div.imag {
    max-height: 225px;
    height: 225px;
    width: 100%;
    background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
    background-position: center;
    background-size: cover;
}
div.text-card-container {
    margin: 20px 25px 25px;
}
@media screen and (min-width: 768px) {
    div.card-container {
        flex-direction: row;
        width: 100%;
    }
    div.imag {
        max-width: 40%;
    }
    div.text-card-container {
        margin: 0 20px;
        max-width: 660px;
    }
}
@media screen and (min-width: 1024px) {
    div.card-container {
        max-width: 1200px;
    }
}
