<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metadata '' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179705432-1"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-179705432-1");</script>

    {% if content.title is not defined %}
    <title>{% block title '' %}</title>
    {% endif %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('core', null, 'css') }}
    {% endblock %}
    {% block styles '' %}

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "urls": urls|default([]) is not empty ? urls|default([])['pl'] : urls|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}
</head>
<body>

<div id="res-wrapper">
    <div id="res-page">

        <header>
            {% block header %}
                {% include "header.html.twig" %}
            {% endblock %}
        </header>

        {#    <form action="{{ path('sulu_search.website_search') }}" method="GET">#}
        {#        <input name="q" type="text" placeholder="Search"/>#}
        {#        <input type="submit" value="Go"/>#}
        {#    </form>#}

        {% block body '' %}

        {% block form '' %}

        <section class="main_bg" id="content">
            {% block content %}{% endblock %}
        </section>

        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('core', null, 'js') }}
        {% endblock %}
        {% block js '' %}

    </div>
</div>
</body>
</html>
