<div id="footer">
    <div class="container">
        <div class="footer-links-row">
            {% for item in sulu_navigation_root_tree('footer') %}
                    <div class="res-footer-link">
                        <h4>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}" title="{{ item.title }}">{{ item.title }}</a>
                        </h4>
                    </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="{{ sulu_content_root_path() }}">
                    <img src="/web/images/pokojebeata-logo.webp" height="70px" alt="pokojebeata.pl" title="pokojebeata.pl" class="img-logo-footer">
                </a>
            </div>
        </div>
    </div>
</div>
