<div class="images-slider">
    <div id="fwslider" style="height: 489px;">
        <div class="slider_container">
            <div class="slide" style="opacity: 1; z-index: 1; display: block;">
                <img src="{{ asset('web/images/slider-bg.jpg') }}" alt="">
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title" style="opacity: 1;"><i class="bg"></i>Morbi justo <span class="hide"> condimentum </span>text</h4>
                        <h5 class="title1"><i class="bg"></i>Lorem Ipsum is <span class="hide">simply dummy text</span> </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
