<div class="slider-container images-slider">
    <div class="my-slider">
        <div class="slider-item">
            <div class="card slide">
                <img src="{{ asset('web/images/slider-bg.jpg') }}" alt="" width="1366">
                <p class="card_description">Loresm ipsum dolor sit amet adipisicing elit. Dignissimos, voluptas!</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="card">
                <img src="{{ asset('web/images/slider-bg.jpg') }}" alt="" width="1366">
                <p class="card_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="card">
                <img src="{{ asset('web/images/slider-bg.jpg') }}" alt="" width="1366">
                <p class="card_description">Lorem ipsum dolor sit amet consectetur. Voluptas!</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="card">
                <img src="{{ asset('web/images/slider-bg.jpg') }}" alt="" width="1366">
                <p class="card_description">Lorem ipsum dolor sit amet consectetur elit. Dignissimos, voluptas!</p>
            </div>
        </div>
    </div>
</div>
